@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added here */
body {
  font-family:'Urbanist', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}